{
  "type": "service_account",
  "project_id": "your_project_id",
  "private_key_id": "xxxxxxxxxxxx",
  "private_key": "-----BEGIN PRIVATE KEY-----\nXXXXX\n-----END PRIVATE KEY-----\n",
  "client_email": "xxxx@xxxx.iam.gserviceaccount.com",
  ...
}
